<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>PRODUCTS DATA PAGE</h3>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>CODE</th>
			<th>COST</th>
			<th>GST</th>
			<th>DISCOUNT</th>
		</tr>
		<tr th:each="ob:${list}">
			<td th:text="${ob.prodId}"></td>
			<td th:text="${ob.prodCode}"></td>
			<td th:text="${ob.prodCost}"></td>
			<td th:text="${ob.gst}"></td>
			<td th:text="${ob.discount}"></td>

		</tr>
	</table>
</body>
</html>